$primary-color: #a57979;

body{
    background-color: $primary-color;

    .container{
        text-align: center;
   
    h1{
        text-decoration: underline;
         
    }
    h3{
            text-transform:  uppercase;
         }
}
 }